nav{
    margin-bottom: 50px;
}

.navbar-brand{
    padding-left: 10px;
}

.navbar-nav{
    margin-left: auto;
}

#navbarNavAltMarkup{
    padding-right: 10px;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 60%;
}


.right {
    text-align: right;
    margin-left:auto;
}


.message-text{
    width:fit-content;
    border: 1px solid rgb(235, 236, 237);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 10px 3px 10px;
    background-color: rgb(235, 243, 243);
    color: rgb(125, 125, 125);
    font-size: large;
}

.right > .message-text{
    margin-left: auto;
    background-color: rgb(167, 255, 191);
}

.message-user {
    font-weight: bold;
}

.message-date {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

#message-key {
    min-width: 10%;
    width:fit-content;
}

.right > .message-decrypt > #selectForm> #message-key{
    margin-left: auto;
}

.send{
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

label{
    font-weight: bold;
}
.send> form{
    width: 60%;
}


.active-chats{
    margin-top: 60px;
}

.btn{
    background-color: hsl(189, 32%, 83%);
    margin: 5px;
}

.userchat{
    background-color: #92e3e6db;
}

.computed{
    margin-top: 50px;
}

.table-responsive{
    max-height: 250px;
    margin-bottom: 50px;
}

.plainguess{
    margin-bottom: 50px;
}

.overflow-auto{
    max-height: 30vw;
}

.chat-head{
    margin-top: -40px;
}

.welcome{
    margin: 50px;
}

.text-container{
    margin: 50px;
    max-width: 50%;
}

.loginform{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: #275372db;
}

.btn-primary{
    background-color: #275372db;
}

.intro{
    margin-bottom: 20px;
    font-size: large;
}

.features{
    margin-bottom:15px;
}