nav{
    margin-bottom: 50px;
}

.navbar-brand{
    padding-left: 10px;
}

.navbar-nav{
    margin-left: auto;
}

#navbarNavAltMarkup{
    padding-right: 10px;
}

.message{
    margin: 20px;
}

.message-text{
    width:fit-content;
    border: 1px solid rgb(235, 236, 237);
    border-radius: 15px;
    margin: 2px;
    padding: 3px 10px 3px 10px;
    background-color: rgb(235, 243, 243);
    color: rgb(125, 125, 125);
    font-size: large;
}