{% extends "layout.html" %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/analysis" method="post">
            <label for="encrypted">Encrypted text</label>
            <textarea class="form-control" id="encrypted" name="encrypted" rows="3" required>{{encrypted}}</textarea>

            <button class="btn" type="submit">Analyse</button>
        </form>



        {% if analysis %}
            <h2>Frequency Analysis:</h2>
            <p>{{ analysis }}</p>
        {% endif %}
        
        {% if img_path %}
            <h2>Frequency Analysis Histogram:</h2>
            <img src="{{ img_path }}" alt="Frequency Analysis Histogram">
        {% endif %} 

    </div>
{% endblock %}