{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block main %}
    <h2>You are chating with {{user[0].username}}</h2>


    {% for message in messages %}
        
        <div class="message{% if message.sender_username!=user[0].username %} right{% endif %}">
            <div class="message-user">{{message.sender_username}}</div>
            <div class="message-text">{{message.message}}</div>
            <div class="message-date">{{message.datetime}}</div>
        </div>
    {% endfor %}


    <form action="/chat/{{chatid}}" method="post">
        <label for="text">Enter your message</label>
        <textarea class="form-control" id="text" name="text" rows="1" required></textarea>
        
        <label for="key">Key</label>
        <textarea class="form-control" id="key" name="key" rows="1" required></textarea>

        <button class="btn" type="submit">Send</button>
    </form>


{% endblock %}

