{% extends "layout.html" %}

{% block title %}
    Decrypt
{% endblock %}

{% block main %}
    <div class="container">



        <form action="/decrypt" id='selectForm' method="post">
            <select class="form-control" name="mode" onchange="submitSelectForm()">
                <option value="known" {% if mode == 'known' %}selected{% endif %}>Known key</option>
                <option value="caeser" {% if mode=='caeser' %}selected{% endif %}>Guess Caeser</option>
                <option value="vigenere" {% if mode=='vigenere' %}selected{% endif %}>Guess Vigenere</option>
            </select>

            
            <label for="encrypted">Encrypted text</label>
            <textarea class="form-control" id="encrypted" name="encrypted" rows="3" required>{{encrypted}}</textarea>
            {% if mode=='known' %}
                <label for="key">Key</label>
                <textarea class="form-control" id="key" name="key" rows="3">{{key}}</textarea>
            {% endif %}
            {% if mode=='caeser' or mode=='vigenere' %}
                <label for="attempts">Attempts</label>
                <input class="form-control" type="number" min="1" id="attempts" name="attempts" value="{{attempt}}" placeholder="attempts">
            {% endif %}
            {% if mode=='vigenere' %}
                <label for="keylength">Key Length</label>
                <input class="form-control" type="number" min="1" id="keylength" name="keylength" value="{{keylength}}" placeholder="length">   
                <input type="hidden" id="keyguess" name="keyguess" value="{{keyguess}}">
            {% endif %}
            <button class="btn" type="submit">decrypt</button>
        </form>

        <div class="computed">
            {% if encrypted %}
                {% if mode=='known' or mode=='caeser'%}
                    <h4>Plain text:</h4>
                    <p>{{plain}}</p>
                {% endif %}
                {% if mode=='vigenere' %}
                    {% if plainguess %}
                        <p>{{plainguess}}</p>
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Likelihood</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in plain %}
                                <tr>
                                    <td>
                                        <form action="/decrypt" id="guessForm" method="post">
                                            <input type="hidden" name="keyguess" value="{{key[0]}}">
                                            <button class="btn" type="button" onclick="submitGuess('{{ key[0] }}')">{{ key[0] }}</button>
                                        </form>
                                    </td>
                                    <td>{{key[1]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %} 
            {% if error %}
                <h4>Error:</h4>
                <p>{{error}}</p>
            {% endif %}
        </div>
         
    </div>



    <script>
        function submitSelectForm() {
            document.getElementById('selectForm').submit();
        }

        function submitGuess(key) {
            document.getElementById('keyguess').value = key;
            document.getElementById('selectForm').submit();
        }
    </script>
{% endblock %}