{% extends "layout.html" %}

{% block title %}
    Encrypt
{% endblock %}

{% block main %}
    <div class="container">



        <form action="/decrypt" id='selectForm' method="post">
            <select class="form-control" name="mode" onchange="submitSelectForm()">
                <option value="known" {% if mode == 'known' %}selected{% endif %}>Known key</option>
                <option value="caeser" {% if mode=='caeser' %}selected{% endif %}>Guess Caeser</option>
            </select>

            
            <label for="encrypted">Encrypted text</label>
            <textarea class="form-control" id="encrypted" name="encrypted" rows="3" required>{{encrypted}}</textarea>
            {% if mode=='known' %}
                <label for="key">Key</label>
                <textarea class="form-control" id="key" name="key" rows="3">{{key}}</textarea>
            {% endif %}
            {% if mode=='caeser' %}
                <label for="attempts">Attempts</label>
                <select class="form-control" id="attempts" name="attempts">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            {% endif %}
            <button class="btn" type="submit">decrypt</button>
        </form>


        {% if encrypted %}
            <h4>Plain text:</h4>
            <p>{{plain}}</p>
        {% endif %} 
        {% if error %}
            <h4>Error:</h4>
            <p>{{error}}</p>
        {% endif %} 
    </div>



    <script>
        function submitSelectForm() {
            document.getElementById('selectForm').submit();
        }
    </script>
{% endblock %}