{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/" method="post">
            <label for="plain">Plain Text</label>
            <textarea class="form-control" id="plain" name="plain" rows="3">{{plain}}</textarea>
            
            <label for="key">Key</label>
            <textarea class="form-control" id="key" name="key" rows="3">{{key}}</textarea>

            <button class="btn" type="submit">Encrypt</button>
        </form>
        <label for="encrypted">Encrypted Text</label>
        <textarea class="form-control" id="encrypted" name="encrypted" rows="3">  {{encrypted}}  </textarea>
    </div>
{% endblock %}